<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block tittle %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Ejercicio PI</h1>
        <h3>Herencia de plantillas</h3>
    </header>

    <section>
        {% block content %}

        {% endblock %}
    </section>

    <footer>
        <h5>Este es un ejercicio de ejemplo</h5>
    </footer>
</body>

</html>